.ql-container.ql-bubble:not(.ql-disabled) a:hover::before {
    cursor: pointer;
}

/* .ql-container.ql-bubble:not(.ql-disabled) a {
    position: fixed !important;
} */

.ql-container.ql-bubble:not(.ql-disabled) a::before {
    background-color: #121926 !important;
    border-radius: 5px !important;
    /* transform: translate(-17%, 92%) !important; */
}

.MuiDialogTitle-root {
    font-size: 1.75rem !important;
}

.MuiTabs-indicator {
    background: rgb(57, 67, 81) !important;
    height: 3px !important;
}

.MuiButtonBase-root.MuiTab-root {
    font-size: 15px !important;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    color: rgb(57, 67, 81);
    font-weight: 600;
    font-size: 15px !important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hand-cursor {
}
.wrapper {
    color: red;
}

/* ul li::marker {
    content: '*';
} */

/* .ql-editor li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ql-editor li [Atributes] {
    -webkit-user-drag: element;
    user-select: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
} */

/* .ql-editor p > span,
.ql-editor h1 > span,
.ql-editor h2 > span,
.ql-editor h3 > span,
.ql-editor h4 > span, 
.ql-editor h5 > span,
.ql-editor h6 > span,
.ql-editor li > span{
    font-size: 16px !important;
} */
/* .ql-editor p > span{
    font-size: 16px !important;
} */

* {
    user-select: none;
}
/* .grabbing {
    cursor: grabbing !important;
} */

.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ::selection {
    cursor: grabbing;
    user-select: none;
  } */

.hover-div {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMuNSIgaGVpZ2h0PSIzIiByeD0iMSIgZmlsbD0iI0FFQUNBNiIvPgo8cmVjdCB4PSI4IiB5PSIxMiIgd2lkdGg9IjMuNSIgaGVpZ2h0PSIzIiByeD0iMSIgZmlsbD0iI0FFQUNBNiIvPgo8cmVjdCB4PSI4IiB5PSIxNyIgd2lkdGg9IjMuNSIgaGVpZ2h0PSIzIiByeD0iMSIgZmlsbD0iI0FFQUNBNiIvPgo8cmVjdCB4PSIxNSIgeT0iNyIgd2lkdGg9IjMuNSIgaGVpZ2h0PSIzIiByeD0iMSIgZmlsbD0iI0FFQUNBNiIvPgo8cmVjdCB4PSIxNSIgeT0iMTIiIHdpZHRoPSIzLjUiIGhlaWdodD0iMyIgcng9IjEiIGZpbGw9IiNBRUFDQTYiLz4KPHJlY3QgeD0iMTUiIHk9IjE3IiB3aWR0aD0iMy41IiBoZWlnaHQ9IjMiIHJ4PSIxIiBmaWxsPSIjQUVBQ0E2Ii8+Cjwvc3ZnPg==')
        0px 2px no-repeat;
    display: inline-block;
    /* left: -7px; */
    position: absolute;
    width: 20px;
    height: 23px;
    z-index: 99;
}

.hover-div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* .ql-editor > * {
    cursor: -webkit-grabbing !important;
} */

/* .hover-div:active {
    cursor: grabbing;
}

.hover-div[draggable=true] {
    cursor: grabbing;
  } */
/* .hover-div {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iOCIgeT0iMTEiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+CjxyZWN0IHg9IjgiIHk9IjE1IiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iMTMiIHk9IjExIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iMTUiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+Cjwvc3ZnPgo=')
        0px 2px no-repeat;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 99;
} */
/* 
.ql-editor h1.hand-cursor[draggable='true']::before,
.ql-editor h2.hand-cursor[draggable='true']::before,
.ql-editor h3.hand-cursor[draggable='true']::before,
.ql-editor h4.hand-cursor[draggable='true']::before,
.ql-editor h5.hand-cursor[draggable='true']::before,
.ql-editor h6.hand-cursor[draggable='true']::before,
.ql-editor li.hand-cursor[draggable='true']::before,
.ql-editor p.hand-cursor[draggable='true']::before {
    cursor: grabbing;
}

.ql-editor h1.hand-cursor::before,
.ql-editor h2.hand-cursor::before,
.ql-editor h3.hand-cursor::before,
.ql-editor h4.hand-cursor::before,
.ql-editor h5.hand-cursor::before,
.ql-editor h6.hand-cursor::before,
.ql-editor li.hand-cursor::before,
.ql-editor p.hand-cursor::before {
    opacity: 1;
}

.ql-editor h2::before,
.ql-editor h3::before,
.ql-editor h4::before,
.ql-editor h5::before,
.ql-editor h6::before {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iOCIgeT0iMTEiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+CjxyZWN0IHg9IjgiIHk9IjE1IiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iMTMiIHk9IjExIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iMTUiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+Cjwvc3ZnPgo=')
        0px 2px no-repeat;
    content: '';
    display: inline-block;
    cursor: grab;
    width: 16px;
    height: 35px;
    position: absolute;
    left: -8px;
    opacity: 0;
    z-index: 9999;
    transition: opacity 200ms ease-in-out 0s;
}

.ql-editor h1::before {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iOCIgeT0iMTEiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+CjxyZWN0IHg9IjgiIHk9IjE1IiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iMTMiIHk9IjExIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iMTUiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+Cjwvc3ZnPgo=')
        0px 8px no-repeat;
    content: '';
    display: inline-block;
    cursor: grab;
    width: 16px;
    height: 35px;
    position: absolute;
    left: -8px;
    opacity: 0;
    z-index: 9999;
    transition: opacity 200ms ease-in-out 0s;
}

.ql-editor p::before {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iOCIgeT0iMTEiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+CjxyZWN0IHg9IjgiIHk9IjE1IiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iMTMiIHk9IjExIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iMTUiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+Cjwvc3ZnPgo=')
        0px -2px no-repeat;
    content: '';
    display: inline-block;
    cursor: grab;
    width: 16px;
    height: 35px;
    position: absolute;
    left: -8px;
    opacity: 0;
    z-index: 9999;
    transition: opacity 200ms ease-in-out 0s;
}

.ql-editor li::before {

    display: inline-block;
    cursor: grab;
    width: 24px;
    left: 55px;
    z-index: 9999;
    transition: opacity 200ms ease-in-out 0s;
} */

.image-actions__toolbar {
    font: 0px Arial, Helvetica, sans-serif !important;
}
