/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value='arial']::before {
    font-family: Arial, sans-serif;
}

.ql-font-comic-sans,
.ql-font span[data-value='comic-sans']::before {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.ql-font-courier-new,
.ql-font span[data-value='courier-new']::before {
    font-family: 'Courier New';
}

.ql-font-georgia,
.ql-font span[data-value='georgia']::before {
    font-family: Georgia, serif;
}

.ql-font-helvetica,
.ql-font span[data-value='helvetica']::before {
    font-family: Helvetica, sans-serif;
}

.ql-font-Inter,
.ql-font span[data-value='Inter']::before {
    font-family: 'Inter', sans-serif;
}

.ql-font-lucida,
.ql-font span[data-value='lucida']::before {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value='extra-small']::before {
    font-size: 15px !important;
}

.ql-size-small,
.ql-size span[data-value='small']::before {
    font-size: 15px !important;
}

.ql-size-medium,
.ql-size span[data-value='medium']::before {
    font-size: 18px !important;
}

.ql-size-large,
.ql-size span[data-value='large']::before {
    font-size: 20px !important;
}

.ql-editor {
    min-height: 80vh;
    padding: 0px 5px !important;
    margin-left: 4px;
    /* line-height: 1.13 !important; */
    /*need fixed line height for proper alignment 6.icon relative to the text*/
    line-height: 30px !important;
    tab-size: 2 !important;
}

.ql-editor ol {
    padding-left: 0.35em !important;
}

.ql-editor ul {
    padding-left: 0.1em !important;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 2.8em !important;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 4.1em !important;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 5.6em !important;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 7.3em !important;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 9.1em !important;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 10.6em !important;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 12em !important;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 14em !important;
}

.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 16em !important;
}

.ql-container {
    font-size: 15px !important;
    overflow: visible !important;
    font-weight: 400;
    line-height: 24.45px;
}

.App .ql-snow .ql-tooltip.ql-flip {
    width: auto;
    left: 17px !important;
    white-space: normal;
}

.ql-bubble .ql-tooltip {
    background-color: #0e101a !important;
    border-radius: 6px !important;
    color: #fff;
    transform: translateY(-170%) !important;
}

.ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
    top: 38px !important;
    transform: rotate(180deg);
}

@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .ql-container .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .container .ql-toolbar.ql-snow {
        display: none;
    }
}

.titleText {
    font-size: 28px !important;
    line-height: 32px !important;
    font-weight: 400 !important;
}

.ql-bubble .ql-editor h1 {
    font-size: 24px !important;
    padding: '3px 0px';
    line-height: 39.12px;
    font-weight: 700;
}

.ql-bubble .ql-editor h2 {
    font-size: 20px !important;
    padding: '3px 0px';
    line-height: 32.6px;
    font-weight: 700;
}

.ql-bubble .ql-editor h3 {
    font-size: 18px !important;
    padding: '3px 0px';
    line-height: 29.34px;
    font-weight: 700;
}

.ql-bubble .ql-editor h4 {
    font-size: 16px !important;
    padding: '3px 0px';
}

.ql-bubble .ql-editor h5 {
    font-size: 15px !important;
    padding: '3px 0px';
}

.ql-bubble .ql-editor h6 {
    font-size: 10.72px !important;
    padding: '3px 0px';
}

.ql-cursor .ql-cursor-caret-container {
    cursor: text;
    margin-left: 0px !important;
    padding: 0 0px !important;
}

.ql-cursor .ql-cursor-flag {
    line-height: 20px !important;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 1px;
    z-index: 1100 !important;
}


.ql-editor.ql-blank::before {
    left: 15px !important;
}


.ql-container.ql-bubble:not(.ql-disabled) a::before {
    background-color: #121926 !important;
    border-radius: 5px !important;
}

.image-actions__toolbar {
    font: 0px Arial, Helvetica, sans-serif !important;
}

 .quill .quill-editor .ql-container .ql-bubble .ql-editor > p {
     padding-left: '2px !important';
     padding-right: '2px !important';
 }

 .ql-bubble .ql-color-picker .ql-picker-options {
     padding: 3px 5px;
     width: 90px !important;
     border-radius: 5px;
 }

 .ql-color-\#092625 {
     color: #092625;
 }

 .ql-color-\#D22D2C {
     color: #d22d2c;
 }

 .ql-color-\#01927B {
     color: #01927b;
 }

 .ql-color-\#3487D1 {
     color: #3487d1;
 }

 .ql-color-\#FFFFFF {
     color: #ffffff;
 }

 .ql-color-\#849392 {
     color: #849392;
 }

 .ql-color-\#2FA85C {
     color: #2fa85c;
 }

 .ql-color-\#F1A300 {
     color: #f1a300;
 }

 .ql-color-\#F5ED5B {
     color: #F5ED5B;
 }

 .ql-color-\#E6E9E9 {
     color: #E6E9E9;
 }

 .ql-color-\#FFCFD4 {
     color: #FFCFD4;
 }

 .ql-color-\#DFF2EF {
     color: #DFF2EF;
 }

 .ql-color-\#F5FFF2 {
     color: #F5FFF2;
 }

 .ql-color-\#FDFDE5 {
     color: #FDFDE5;
 }
